.container_avatar {
    align-self: center;
    margin-bottom: 30px;
    margin-left: 40%;
}

.container_avatar label {
    cursor: pointer;
}

.container_avatar label:hover {
    opacity: 0.7;
}

.container_avatar img {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: 3px solid rgba(255, 255, 255, 0.3);
    background: #eee;
}

.container_avatar input {
    display: none;
    border: none;
}